* {
    font-family: 'Trebuchet MS', Verdana, sans-serif;

}

h1 {
    display: block;
    font-size: 80px;
    padding: 20px 20px;
    background-color: rgb(35, 119, 255);   
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
}

nav {
    display: flex;
    padding: 15px 15px;
    background-color: rgb(0, 0, 0);
    font-size: 25px;
    color: rgb(35, 119, 255);
    flex-direction: space-around;
    justify-content: flex-start;
    
}

ul {
    display: flex;
    justify-content: space-between;
    
}

a {
    margin: 10px 10px;
    text-decoration: none;
    color:white;
}
header img {
    margin: 0;
    display: block;
}
 h2 {
    font-size: 65px;
    margin:15px 15px;
 }
div {
    display: grid;
    grid-template-columns: 30% 35% 35%;
    grid-template-rows:auto;
}
section h3, section img {
    display: inline;
}

a:visited{
    color:white;
}