body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #445877;
    text-align: center;
}
h1, h2, h3, a , p {
    font-family: 'Trebuchet MS', Verdana, sans-serif;

}


h1 {
    display: block;
    font-size: 80px;
    padding: 20px 20px;
    background-color: #92ccce;
    color: #31343d;
}

nav {
    display: flex;
    padding: 15px 15px;
    background-color: #31343d;
    font-size: 25px;
    color: #92ccce;
    justify-content: center;
    text-decoration: underline;
    
    ul {
        display: flex;
        justify-content: center;
        
    }
    
    li {
        margin: 10px 20px;
        text-decoration: none;
        color:white;
    }
    
}

p {
    display: block;
    margin: 0 80px;
    text-align: left;
}

 h2 {
    display: block;
    font-size: 60px;
    margin:20px 20px;
    text-decoration: underline;
    text-align: center;
}

.label p{
    z-index: 2;
    background-color: #92ccce;
    color: white;
    position:absolute;
    padding:8px 8px;
    border-radius: .9em;
}
#Work {
    font-size: 50px;
}

div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 15px 15px;
}

.others{
    display: grid;
    margin:0 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

img {
    z-index: 1;
    border: 6px solid #92ccce;
    border-right: none;
    border-top:none;
}
.others img{
    margin-right:20px;
}

header ul li a {
    color:#92ccce;
}

header ul li a:visited{
    color:#92ccce;
}

header ul li a:hover{
    color: whitesmoke;
}

footer{
    border-top: 3px solid #445877;
    margin: auto 25px;
}

h3 {
    padding: 15px 8px;
}

footer ul{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

footer ul li {
    margin: 10px 30px;
}

footer ul li a:link {
    color: #445877;
}

footer ul li a:visited {
    color: #445877;
}



@media screen and (max-width: 992px) {
    
    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

.project1 img {
    max-width: 100%;
    max-height: 30%;
}

.others{
    max-width: 100%;
}
.others img {
    margin-top: 15px;
    max-width: 100%;
}
}